<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
            name="keywords"
            content="建模,Online,ERD,erd online,Scaffolding, layout, ERD Online,在线,低代码,元数据,ETL, project, Pro, admin, console, homepage, out-of-the-box, middle and back office, solution, component library"
    />
    <meta
            name="description"
            content="开箱即用的数据库建模、产品版本管理软件."
    />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>ERD Online Pro</title>
    <link rel="icon" href="<%= context.config.publicPath + 'favicon.ico' %>" type="image/x-icon"/>
    <script src="<%= context.config.publicPath + 'js/g6.min.js' %>"></script>
    <script src="<%= context.config.publicPath + 'js/g6-plugins.min.js' %>"></script>
    <script src="<%= context.config.publicPath + 'js/html2canvas.min.js' %>"></script>
    <script src="<%= context.config.publicPath + 'env-config.js?date=' + new Date() %>"></script>
</head>
<body>
<div id="root">

    <div
            style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          min-height: 420px;
        "
    >
        <img src="<%= context.config.publicPath + 'pro_icon.svg' %>" alt="logo" width="256"/>
        <div class="page-loading-warp">
            <div class="ant-spin ant-spin-lg ant-spin-spinning">
            <span class="ant-spin-dot ant-spin-dot-spin"
            ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
                ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
                ></span>
            </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: center">
            <img
                    src="<%= context.config.publicPath + 'pro_icon.svg' %>"
                    width="32"
                    style="margin-right: 8px"
            />
            ERD Online
        </div>
    </div>
</div>
</body>
</html>
